<script setup>
import DefaultLayout from '@/Layouts/DefaultLayout.vue';
import NoPost from '@/Pages/Blog/Partials/NoPost.vue';
import Pagination from '@/Components/Pagination.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import DeletePostForm from '@/Pages/Blog/Partials/DeletePostForm.vue';
import Table from '@/Components/Table.vue';
import { Head } from '@inertiajs/vue3';

defineProps({
    posts: Object,
    is_user_admin: Boolean
});
</script>

<template>
    <Head title="Dashboard" />

    <DefaultLayout>
        <template #header>
            <div class="flex flex-wrap justify-between">
                <h2 class="font-semibold text-xl text-gray-800 dark:text-white leading-tight">Dashboard</h2>

                <PrimaryButton type="link" :href="route('dashboard.post.create')">Create Post</PrimaryButton>
            </div>
        </template>

        <div class="sm:py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 text-gray-700 dark:text-gray-300 ">
                <div v-if="posts.data.length !== 0" class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg mb-6">
                    <div class="relative overflow-x-auto p-6">
                        <div class="mb-3 text-2xl text-gray-900 dark:text-white">
                            <span v-if="is_user_admin">Your Posts</span>
                            <span v-else>All Posts</span>

                            <span class="ml-3 text-sm text-gray-400">Total: {{ posts.total }} post(s)</span>
                        </div>

                        <Table>
                            <template #head>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Content</th>
                                    <th v-if="is_user_admin" scope="col">Author</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </template>

                            <template #body>
                                <tr v-for="(post, index) in posts.data" :key="index">
                                    <th scope="row">
                                        {{ post.id }}
                                    </th>

                                    <td class="truncate">{{ post.title.substring(0, 50) }}</td>

                                    <td class="truncate">{{ post.content.substring(0, 50) }}</td>

                                    <td v-if="is_user_admin" class="truncate">
                                        {{ post.author.name }}
                                        {{ post.author.last_name }}
                                    </td>

                                    <td class="flex">
                                        <PrimaryButton type="link" :href="route('dashboard.post.edit', post.slug)">Edit</PrimaryButton>

                                        <DeletePostForm :postId="post.id" class="ml-3"></DeletePostForm>
                                    </td>
                                </tr>
                            </template>
                        </Table>
                    </div>
                </div>

                <!-- no post -->
                <NoPost v-else />
                <!-- end no post -->

                <Pagination v-if="posts.length !== 0" :links="posts.links" />
            </div>
        </div>
    </DefaultLayout>
</template>
