<script setup>
import DefaultLayout from '@/Layouts/DefaultLayout.vue';
import { Head } from '@inertiajs/vue3';

defineProps({
    laravelVersion: String,
    phpVersion: String,
});
</script>

<template>
    <Head title="Welcome" />

    <DefaultLayout>
        <div class="sm:py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 text-gray-700 dark:text-gray-300">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg p-6">
                    <div class="mb-3 text-2xl">Welcome to BBlog!</div>

                    <div>
                        <p class="mb-2 text-lg">
                            This is a simple blog site with Laravel v{{ laravelVersion }} with inertia.js/vue3 (PHP v{{ phpVersion }})
                        </p>
                        <p>You can create a account.</p>
                        <p>You can write blog post and comment.</p>
                        <p>You must be logged in to view blog posts.</p>
                    </div>
                </div>
            </div>
        </div>
    </DefaultLayout>
</template>
