<script setup>
import DefaultLayout from '@/Layouts/DefaultLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, useForm } from '@inertiajs/vue3';

const props = defineProps({
    post: Object
});

const form = useForm({
    title: props.post.title,
    content: props.post.content,
    image: null,
});

const submit = () => {
    form.post(route('dashboard.post.edit.submit', props.post.slug), {
        preserveScroll: true,
        _method: 'patch',
        onSuccess: () => form.reset(),
        // onError: () => form.reset(),
        // onFinish: () => form.reset(),
    });
};
</script>

<template>
    <Head title="Edit a Post" />

    <DefaultLayout>
        <template #header>
            <div class="flex flex-wrap justify-between">
                <h2 class="font-semibold text-xl text-gray-800 dark:text-white leading-tight">Edit a Post</h2>
            </div>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 text-gray-700 dark:text-gray-300">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg p-6 mb-6">
                    <form @submit.prevent="submit">
                        <div class="w-full mb-6 group">
                            <InputLabel for="title" value="Title" />

                            <TextInput
                                id="title"
                                type="text"
                                class="mt-1 block w-full"
                                v-model="form.title"
                                required
                                autofocus
                            />

                            <InputError class="mt-2" :message="form.errors.title" />
                        </div>

                        <div class="w-full mb-6 group">
                            <InputLabel for="content" value="Content" class="mb-2" />

                            <textarea
                                id="message"
                                rows="10"
                                class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                v-model="form.content"
                                required
                                placeholder=""></textarea>

                            <InputError class="mt-2" :message="form.errors.content" />
                        </div>

                        <div class="w-full group">
                            <InputLabel for="image" value="Image" class="mb-2" />

                            <input
                                id="image"
                                type="file"
                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                @input="form.image = $event.target.files[0]"
                                accept="image/*"
                            />

                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or GIF (MAX. 1920x1080px).</p>
                            <InputError class="mt-2" :message="form.errors.image" />
                        </div>

                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Save
                            </PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </DefaultLayout>
</template>
