<script setup>
import DefaultLayout from '@/Layouts/DefaultLayout.vue';
import NoPost from '@/Pages/Blog/Partials/NoPost.vue';
import Pagination from '@/Components/Pagination.vue';
import { Head, Link } from '@inertiajs/vue3';

defineProps({
    posts: Object
});
</script>

<template>
    <Head title="Blog" />

    <DefaultLayout>
        <div class="sm:py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 text-gray-700 dark:text-gray-300 ">
                <div v-if="posts.data.length !== 0" v-for="(post, index) in posts.data" :key="index" class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg p-6 mb-6">
                    <!-- card design mostly inspired from https://flowbite.com/docs/components/card/ -->
                    <div class="mb-3 text-2xl text-gray-900 dark:text-white">
                        {{ post.title }}
                        <span class="text-sm text-gray-400">{{ (new Date(post.created_at)).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}</span>
                    </div>

                    <img v-if="post.image" class="max-h-96 w-full object-cover" :src="post.image">

                    <div class="px-6 py-4">
                        <p class="text-base truncate">
                            {{ post.content }}
                        </p>
                    </div>

                    <Link :href="route('blog.show', post.slug)" class="float-right inline-flex items-center px-3 py-2 mt-5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Read more

                        <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </Link>
                </div>

                <!-- no post -->
                <NoPost v-else />
                <!-- end no post -->

                <Pagination v-if="posts.length !== 0" :links="posts.links" />
            </div>
        </div>
    </DefaultLayout>
</template>
