<script setup>
import DefaultLayout from '@/Layouts/DefaultLayout.vue';
import { Head } from '@inertiajs/vue3';
import Comments from './Partials/Comments.vue';
import NewComment from './Partials/NewComment.vue';

defineProps({
    post: Object,
    author: Object,
    comments: Object
});
</script>

<template>
    <Head :title="post.title" />

    <DefaultLayout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 text-gray-700 dark:text-gray-300">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg p-6 mb-6">
                    <!-- card design mostly inspired from https://flowbite.com/docs/components/card/ -->
                    <div class="mb-3 text-2xl text-gray-900 dark:text-white">{{ post.title }}</div>

                    <img v-if="post.image" class="w-full" :src="post.image">

                    <div class="px-6 py-4">
                        <p class="text-base">
                            {{ post.content }}
                        </p>
                    </div>

                    <div class="float-right text-gray-400">
                        {{ author.name }},
                        Published on
                        {{ (new Date(post.created_at)).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}
                    </div>
                </div>

                <!-- <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg p-6 mb-6">
                    <p>comment section</p>
                </div> -->

                <NewComment :postId="post.id" />

                <Comments
                    v-if="comments"
                    v-for="(comment, index) in comments" :key="index"
                    :id="comment.id"
                    :comment="comment"
                    :author="comment.author" />
            </div>
        </div>
    </DefaultLayout>
</template>
