<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    type: {
        type: String,
        default: 'submit',
    },
    href: {
        type: String,
        default: '#',
    }
});
</script>

<template>
    <button v-if="type === 'submit'" :type="type" class="danger-button">
        <slot />
    </button>

    <Link v-else :href="href" class="danger-button">
        <slot />
    </Link>
</template>

<style scoped>
.danger-button {
    @apply inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150;
}
</style>
