<script setup>
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    'links': Array
});
</script>

<template>
    <!-- docs: https://www.positronx.io/laravel-vue-inertia-pagination-integration-tutorial/ -->

    <div v-if="links.length > 3">
        <div class="flex flex-wrap justify-center">
            <template v-for="(link, p) in links" :key="p">
                <div v-if="link.url === null" class="mr-1 mb-1 px-4 py-3 text-sm leading-4 text-gray-400 border dark:border-gray-700 rounded"
                    v-html="link.label" />
                <Link v-else
                    class="mr-1 mb-1 px-4 py-3 text-sm leading-4 border dark:border-gray-700 rounded dark:text-white hover:bg-white hover:text-gray-600 focus:border-indigo-500 focus:text-indigo-500"
                    :class="{ 'bg-blue-700 text-white dark:bg-gray-600': link.active }" :href="link.url" v-html="link.label">
                </Link>
            </template>
        </div>
    </div>
</template>
