<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    type: {
        type: String,
        default: 'submit',
    },
    href: {
        type: String,
        default: '#',
    }
});
</script>

<template>
    <button v-if="type === 'submit'" :type="type" class="primary-button">
        <slot />
    </button>

    <Link v-else :href="href" class="primary-button">
        <slot />
    </Link>
</template>

<style scoped>
.primary-button {
    @apply inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
}
</style>
