<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>

<template>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead>
            <slot name="head"></slot>
        </thead>

        <tbody>
            <slot name="body"></slot>
        </tbody>
    </table>
</template>

<style>
    table thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
    }

    table th,
    table td {
        @apply px-6 py-3;
    }

    table tbody tr {
        @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
    }

    table tbody tr th {
        @apply font-medium text-gray-900 whitespace-nowrap dark:text-white;
    }
</style>
