<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import Navbar from '@/Components/Navbar.vue';
import { Link } from '@inertiajs/vue3';
</script>

<template>
    <div>
        <div class="min-h-screen bg-gray-100 dark:bg-gray-900">
            <Navbar>
                <template #logo>
                    <Link :href="route('home')">
                        <ApplicationLogo class="block h-9 w-auto fill-current text-gray-800" />
                    </Link>
                </template>

                <template #navigationLinks>
                    <NavLink :href="route('home')" :active="route().current('home')">
                        Home
                    </NavLink>

                    <NavLink :href="route('blog')" :active="route().current('blog')" v-if="$page.props.auth.user">
                        Blog
                    </NavLink>

                    <NavLink :href="route('dashboard')" :active="route().current('dashboard')" v-if="$page.props.auth.user">
                        Dashboard
                    </NavLink>
                </template>

                <template #rightNavigation v-if="route().has('login') && !$page.props.auth.user">
                    <div class="ml-3 relative">
                        <div class="relative">
                            <NavLink :href="route('login')" :active="route().current('login')">
                                Log in
                            </NavLink>

                            <NavLink v-if="route().has('register')" :href="route('register')" :active="route().current('register')">
                                Register
                            </NavLink>
                        </div>
                    </div>
                </template>

                <template #responsiveNavigationLinks>
                    <ResponsiveNavLink :href="route('home')" :active="route().current('home')">
                        Home
                    </ResponsiveNavLink>

                    <ResponsiveNavLink :href="route('blog')" :active="route().current('blog')" v-if="$page.props.auth.user">
                        Blog
                    </ResponsiveNavLink>

                    <ResponsiveNavLink :href="route('dashboard')" :active="route().current('dashboard')" v-if="$page.props.auth.user">
                        Dashboard
                    </ResponsiveNavLink>

                    <div v-if="route().has('login') && !$page.props.auth.user">
                        <ResponsiveNavLink :href="route('login')" :active="route().current('login')">
                            Log in
                        </ResponsiveNavLink>

                        <ResponsiveNavLink v-if="route().has('register')" :href="route('register')" :active="route().current('register')">
                            Register
                        </ResponsiveNavLink>
                    </div>
                </template>
            </Navbar>

            <!-- Page Heading -->
            <header class="bg-white dark:bg-gray-800 shadow border-b-2 border-gray-700 sm:border-b-0" v-if="$slots.header">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header" />
                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot />
            </main>
        </div>
    </div>
</template>
