<script setup>
import DeleteCommentForm from '@/Pages/Blog/Partials/DeleteCommentForm.vue';

defineProps({
    comment: Object,
    author: Object,
});
</script>

<template>
    <!-- https://flowbite.com/blocks/publisher/comments/ -->
    <article class="p-6 my-6 text-base rounded-lg bg-white dark:bg-gray-800">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                    {{ author.name }}
                </p>

                <p class="text-sm text-gray-600 dark:text-gray-400">
                    <time pubdate
                        :datetime="(new Date(comment.created_at)).toLocaleDateString('en-US')"
                        :title="(new Date(comment.created_at)).toLocaleDateString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric' })">
                        {{ (new Date(comment.created_at)).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}
                    </time>
                </p>
            </div>

            <DeleteCommentForm v-if="$page.props.auth.user_is_admin || ($page.props.auth.user.id == author.id)" :commentId="comment.id"></DeleteCommentForm>
        </footer>

        <p class="text-gray-500 dark:text-gray-400">
            {{ comment.content }}
        </p>
    </article>
</template>
