<script setup>
import Modal from '@/Components/Modal.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import DangerButton from '@/Components/DangerButton.vue';
import { useForm } from '@inertiajs/vue3';
import { ref } from 'vue';

const props = defineProps({
    postId: Number,
});

const confirmingPostDeletion = ref(false);

const form = useForm({});

const confirmPostDeletion = () => {
    confirmingPostDeletion.value = true;
};

const deletePost = () => {
    form.delete(route('dashboard.post.destroy', props.postId), {
        preserveScroll: true,
        // onSuccess: () => closeModal(),
        // onFinish: () => form.reset(),
        onFinish: () => closeModal(),
    });
};

const closeModal = () => {
    confirmingPostDeletion.value = false;

    // form.reset();
};
</script>

<template>
    <section class="space-y-6">
        <DangerButton @click="confirmPostDeletion">Delete Post</DangerButton>

        <Modal :show="confirmingPostDeletion" @close="closeModal">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900 dark:text-white">
                    Are you sure you want to delete this post?
                </h2>

                <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">
                    Once you delete post, all of its resources and data will be permanently deleted.
                </p>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton @click="closeModal">Cancel</SecondaryButton>

                    <DangerButton
                        class="ml-3"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="deletePost"
                    >
                        Delete Post
                    </DangerButton>
                </div>
            </div>
        </Modal>
    </section>
</template>
