<script setup>
import Modal from '@/Components/Modal.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import DangerButton from '@/Components/DangerButton.vue';
import { useForm } from '@inertiajs/vue3';
import { ref } from 'vue';

const props = defineProps({
    commentId: Number,
});

const confirmingCommentDeletion = ref(false);

const form = useForm({});

const confirmPostDeletion = () => {
    confirmingCommentDeletion.value = true;
};

const deleteComment = () => {
    form.delete(route('dashboard.comment.destroy', props.commentId), {
        preserveScroll: true,
        // onSuccess: () => closeModal(),
        // onFinish: () => form.reset(),
        onFinish: () => closeModal(),
    });
};

const closeModal = () => {
    confirmingCommentDeletion.value = false;

    // form.reset();
};
</script>

<template>
    <section class="space-y-6">
        <button @click="confirmPostDeletion" type="submit" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            Remove
        </button>

        <Modal :show="confirmingCommentDeletion" @close="closeModal">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900 dark:text-white">
                    Are you sure you want to delete this comment?
                </h2>

                <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">
                    Once you delete comment, all of its resources and data will be permanently deleted.
                </p>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton @click="closeModal">Cancel</SecondaryButton>

                    <DangerButton
                        class="ml-3"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="deleteComment"
                    >
                        Delete Comment
                    </DangerButton>
                </div>
            </div>
        </Modal>
    </section>
</template>
