<script setup>
import { Link } from '@inertiajs/vue3';
</script>

<template>
    <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg p-6 mb-6">
        <div class="text-gray-900 dark:text-white">
            <p>There is no blog post.</p>
            <p>
                You can create a post from

                <Link :href="route('dashboard')" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">dashboard.</Link>
            </p>
        </div>
    </div>
</template>
